{% extends "family/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for element in home_elements %}
        <a href="{% url element.name %}">
            <div class="{{ element.size }}">
                <img class="img-responsive img-circle" src="{{ element.img }}"/>
            </div>
        </a>
        {% endfor %}
        <div class="col-sm-2 col-xs-4">
            <form action="{% url 'new_element' %}" method="get">
              <button type="submit" class="btn btn-primary center-block">New Element</button>
            </form>
        </div>
  </div>
  <div class="row">
  <form class="col-md-6 col-md-offset-3" action="{% url 'delete' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
          <label>Element name to delete</label>
          <input type="text" class="form-control" name="name" placeholder="Name">
      </div>
      <button type="submit" class="btn btn-danger">Submit</button><br>
  </form>
  </div>
</div>

{% endblock %}
