{% extends "family/base.html" %}
{% block content %}
    <div class="row">
    <form class="col-md-6 col-md-offset-3" action="{% url 'add_output' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Output Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label>Output Pin</label>
            <input type="number" class="form-control" id="pin" placeholder="Pin">
        </div>
        <button type="submit" class="btn btn-default">Submit</button><br>
    </form>
    </div>
{% endblock %}
