{% extends "family/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for output in outputs %}
            <div class="col-sm-2 col-xs-4">
                <form action="{% url 'change_output' output.name %}" method="get">
                  <button type="submit">{{ output.name }}</button>
                  <p>{{output.state}}</p>
                  <p>{{output.pin}}</p>
                  <p>{{output.time_log}}</p>
                </form>
            </div>
        {% endfor %}
        <div class="col-sm-2 col-xs-4">
            <form action="{% url 'new_output' %}" method="get">
              <button type="submit">New Output</button>
            </form>
        </div>
  </div>
</div>
{% endblock %}
