{% extends "family/base.html" %}
{% block content %}
    <div class="row">
        {% for setting in settings %}
            <h4 class="text-center">{{ setting.name|title }}: {{setting.value}}</h4>
        {% endfor %}
    </div>
    <div class="row">
    <form class="col-md-6 col-md-offset-3" action="{% url 'add_settings' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Parameter Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label>Setting Value</label>
            <input type="number" class="form-control" name="value" placeholder="Value">
        </div>
        <button type="submit" class="btn btn-default">Submit</button><br>
    </form>
    </div>
{% endblock %}
